<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/2.3"
	id		= "com.phonegap.getting.started"
	version 	= "1.1.0">

	<name>Xylaphone</name>

	<description>
		Play the xylaphone
	</description>

	<author href="http://psd70.ab.ca/schools/mchs"
		email="nlindstrom@psd70.ab.ca">
		Neil Lindstrom
	</author>

	

	<icon src="icon.png" gap:role="default" />
	
	<preference name="phonegap-version" value="2.3.0" />

	
	
	<feature name="http://api.phonegap.com/1.0/battery"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	<!--<feature name="http://api.phonegap.com/1.0/device"/> -->

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>